.login-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.login-box {
  background-color: #ffffff;
  padding: 32px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-box h2 {
  margin: 0;
  margin-bottom: 24px;
  color: #333;
  font-weight: 600;
}
.login-box input {
  color: #0f0f0f;
  width: 295px;
  padding: 12px;
  margin-bottom: 16px;
  border: 2px solid gray;
  border-radius: 8px;
  background: none;
  font-size: 14px;
}
.login-box input:focus {
  outline: none;
  border-color: #0f0f0f;
  box-shadow: 0 0 0 2px rgba(122, 122, 122, 0.2);
}
.login-box button {
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}
.login-box button:hover {
  background-color: #313131;
}
