.nav {
  display: flex;
  justify-content: space-between;
}
.nav button {
  width: 20%;
  height: 40px;
  /* padding: 0; */
  background-color: black;
  color: white;
  border: none;
  border-radius: 18px;
  font-size: 15px;
  cursor: pointer;
}
.nav button:hover {
  background-color: #313131;
}
